///////////////////////////////////////
// css theme variables / settings


$font-family:       "Helvetica Neue", Helvetica, Arial, sans-serif;

$code-font-family:  Menlo, Monaco, "Courier New", monospace;


$masthead-color:         #87CEFA	;
$masthead-small-color:   #C0C0C0;

$post-title-color:       #87CEFA;
$post-date-color:        #C0C0C0;


$body-color:            #FFC0CB;
$body-background-color: #FFF5EE;

$link-color:            #D3D3D3;

$headings-color:        #D3D3D3;    // h1,h2,h3,h4,h5,h6

$strong-color:          #D3D3D3;    // strong

$pre-background-color:  #FFF5EE;    // pre

$blockquote-color:        #87CEFA;  // blockquote
$blockquote-border-color: #FFF5EE;

$table-border-color:         #FFE4E1;
$table-odd-background-color: #FFF5EE;


